all:
  hosts:
    {% for node in groups['k8s_nodes'] -%}
    {{ hostvars[node].inventory_hostname }}:
      ansible_host: {{ hostvars[node].ansible_host }}
      ip: {{ hostvars[node].ansible_host }}
      access_ip: {{ hostvars[node].ansible_host }}
    {% endfor %}
  
  children:
    kube_control_plane:
      hosts:
        {% for node in groups['k8s_nodes'] -%}
        {% if hostvars[node]['master_node'] -%}
        {{ hostvars[node].inventory_hostname }}:
        {% endif %}
        {%- endfor %}
    
    kube_node:
      hosts:
        {% for node in groups['k8s_nodes'] -%}
        {% if hostvars[node]['worker_node'] -%}
        {{ hostvars[node].inventory_hostname }}:
        {% endif %}
        {%- endfor %}
    
    etcd:
      hosts:
        {% for node in groups['k8s_nodes'] -%}
        {% if hostvars[node]['etcd_node'] -%}
        {{ hostvars[node].inventory_hostname }}:
        {% endif %}
        {%- endfor %}
    
    k8s_cluster:
      children:
        kube_control_plane:
        kube_node:
    calico_rr:
      hosts: {}